ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333

}
li{
    justify-content: right;
    float : right
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover
  {
      background-color: #242031;
      color: rgb(242, 242, 242);
  }
  .footer
  {
      text-align: center;
      padding:6px;
      background-color:#2a2a2c;
      color : white;


  }
  .logo 
  {
      float : left
  }
  .logo img{
    width: 100px;
    height: auto; 
    display: block 
  }
  .logo1
  {
    float : left;
  }